<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap component</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "bootstrap_component/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
